<div class="customer-order">
  <p><strong>Required Delivery Date:</strong> <%= customer_order.required_delivery_date %></p>
  <p><strong>Location:</strong> <%= Location.find(customer_order.location_id).name %></p>
  <p><strong>Order Status:</strong> <%= customer_order.order_status %></p>
  <p><strong>Product:</strong> <%= customer_order.product %></p>
  <p><strong>Amount:</strong> <%= customer_order.approximate_product_amount %> gal</p>
  <p><strong>Notes:</strong> <%= customer_order.notes %></p>

    <% if @customer_order.dispatches.any? %>
    <h3>Associated Dispatches</h3>
    <% @customer_order.dispatches.each do |dispatch| %>
      <%= link_to dispatch_path(dispatch), class: "card-link" do %>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Dispatch ID: <%= dispatch.id %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No associated dispatches found.</p>
  <% end %>
</div>