<%= form_with(model: @customer_order) do |form| %>
    <% if @customer_order.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(customer_order.errors.count, "error") %> prohibited this customer_order from being saved:</h2>

        <ul>
          <% customer_order.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :required_delivery_date, style: "display: block" %>
      <%= form.date_field :required_delivery_date %>
    </div>

    <div class="field">
      <%= form.label :location_id, 'Order Location:', style: "display: block" %>
      <input type="hidden" id="location_id" name="customer_order[location_id]" value="<%= @customer_order.location_id %>">
      <select id="location_search" style="width: 300px;"></select>
    </div>

    <div class="field">
      <%= form.label :product, style: "display: block" %>
      <%= form.collection_select :product, CustomerOrder::PRODUCTS, :itself, :itself, { class: "form-control" } %>
    </div>

    <div class="field">
      <%= form.label :approximate_product_amount, style: "display: block" %>
      <%= form.text_field :approximate_product_amount %> gallons
    </div>

    <div>
      <%= form.label :order_status, style: "display: block" %>
      <%= form.collection_select :order_status, CustomerOrder.order_statuses.keys, :to_s, :humanize, { class: "form-control" } %>
    </div>

    <div>
      <%= form.label :notes, style: "display: block" %>
      <%= form.text_area :notes %>
    </div>

    <div>
      <%= form.submit %>
    </div>

    <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  document.addEventListener("turbo:load", function() {
  $('#location_search').select2({
    placeholder: 'Search for a location',
    ajax: {
      url: '/locations/search',
      dataType: 'json',
      delay: 250,
      data: function(params) {
        return {
          query: params.term // search term
        };
      },
      processResults: function(data) {
        return {
          results: data.map(function(location) {
            return {
              id: location.id,
              text: location.city_with_company // adjust this according to how you want it displayed
            };
          })
        };
      },
      cache: true
    }
  });

  // Set the hidden field with the selected location's ID
  $('#location_search').on('select2:select', function(e) {
    var data = e.params.data;
    $('#location_id').val(data.id); // Set the hidden field
  });
});
</script>
<% end %>