<p style="color: green"><%= notice %></p>

<%= render @customer_order %>

<div>
  <%= link_to "Edit this order", edit_customer_order_path(@customer_order) %> |
  <%= link_to "Back to orders", customer_orders_path, data: { turbo: false } %>

  <%= button_to "Destroy this order", @customer_order, method: :delete, data: { confirm: 'Are you sure you want to delete this order?', turbo: false }, class: "btn btn-danger" %>
</div>