<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
      <tr>
        <th colspan="4" style="border: 1px solid black; padding: 10px;">Dispatch Info</th>
      </tr>
      <tr style="background-color: lightgrey;">
        <th style="border: 1px solid black; padding: 10px;">Dispatch #</th>
        <th style="border: 1px solid black; padding: 10px;">Product</th>
        <th style="border: 1px solid black; padding: 10px;">Quantity(Gals)</th>
        <th style="border: 1px solid black; padding: 10px;">Origin</th>
      </tr>
      <tr>
        <td style="border: 1px solid black; padding: 10px;"><%= @dispatch.id %></td>
        <td style="border: 1px solid black; padding: 10px;"><%= @dispatch.customer_orders.first.product %></td>
        <td style="border: 1px solid black; padding: 10px;"><%= @dispatch.customer_orders.first.approximate_product_amount %></td>
        <td style="border: 1px solid black; padding: 10px;">
          <% origin_location = @origin_locations.find_by(city: @dispatch.origin) %>
          <% if origin_location %>
            <%= "#{origin_location.address} #{origin_location.city}, #{origin_location.state} #{origin_location.zip}" %>
          <% else %>
            No origin location found
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to "Click here to view the dispatch", dispatch_url(@dispatch) %>
    <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
      <tr>
        <td style="height: 25px; border: none; padding: 0;"></td>
      </tr>
      <tr>
        <th colspan="3" style="border: 1px solid black; padding: 10px;">Customer Info</th>
      </tr>
      <tr style="background-color: lightgrey;">
        <th style="border: 1px solid black; padding: 10px;">Order #</th>
        <th style="border: 1px solid black; padding: 10px;">Destination</th>
        <th style="border: 1px solid black; padding: 10px;">Delivery Date</th>
      </tr>
      <tr>
        <td style="border: 1px solid black; padding: 10px;"><%= @dispatch.customer_orders.first.id %></td>
        <td style="border: 1px solid black; padding: 10px;">
          <% destination_location = @destination_locations.find_by(city: @dispatch.destination) %>
          <% if destination_location %>
            <%= "#{destination_location.address} #{destination_location.city}, #{destination_location.state} #{destination_location.zip}" %>
          <% else %>
            No destination location found
          <% end %>
        </td>
        <td style="border: 1px solid black; padding: 10px;"><%= @dispatch.customer_orders.first.required_delivery_date %></td>
      </tr>
    </table>
    <%= link_to "Click to view the order", customer_order_url(@dispatch.customer_orders.first) %>
  </body>
</html>