<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dispatch <%= @dispatch.id %> has been assigned to you</h1>
    <p>
        <div>Origin: <%= @dispatch.origin %></div>
        <div>Info: <%= @dispatch.info %></div>
        <div>Dispatch Date: <%= @dispatch.dispatch_date %></div>
        <div>Status: <%= @dispatch.status %></div>
        <div>Notes: <%= @dispatch.notes %></div>
        <div>Created On: <%= @dispatch.created_at %></div>
    </p>
  </body>
</html>