<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table style="border:1px">
      <tr>
        <th>Dispatch #</th>
        <th>Product</th>
        <th>Quantity(Gals)</th>
        <th>Origin</th>
        <th>Destination</th>
      </tr>
      <tr>
        <td><%= @dispatch.id %></td>
        <td><%= @dispatch.customer_orders.first.product %></td>
        <td><%= @dispatch.customer_orders.first.approximate_product_amount %></td>
        <td><%= @dispatch.origin %></td>
        <td><%= @dispatch.destination %></td>
      </tr>
    </table>
  </body>
</html>