<%= form_with(model: @thing, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name, "Thing Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", things_path, class: "btn btn-secondary" %>
  </div>
<% end %>