<div class="container mt-4">
  <h1>Users</h1>


<%= link_to 'Add New User', new_user_registration_path, class: 'btn btn-primary' %>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary btn-sm' %>
            <%= form_with url: user_path(user), method: :delete, class: 'd-inline' do %>
              <%= submit_tag 'Delete', class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const toggleButton = document.getElementById('toggleFormButton');
  const form = document.getElementById('newUserForm');

  toggleButton.addEventListener('click', function() {
    if (form.style.display === 'none') {
      form.style.display = 'block';
      toggleButton.textContent = 'Cancel';
      toggleButton.classList.remove('btn-success');
      toggleButton.classList.add('btn-danger');
    } else {
      form.style.display = 'none';
      toggleButton.textContent = 'Add New User';
      toggleButton.classList.remove('btn-danger');
      toggleButton.classList.add('btn-success');
    }
  });
});
</script>