<p class="text-success"><%= notice %></p>

<div class="container mt-4">
  <h1>Drivers</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td>
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary btn-sm' if current_user.role="admin" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%# link_to "New user", new_user_path %>
