<!DOCTYPE html>
<html lang="en">
<div id="<%= dom_id dispatch %>" class="content" style="padding-left:20px;">

  <% if dispatch.driver_id && dispatch.dispatch_customer_order.any? %>
    <%= button_to 'Send Notification', send_notification_dispatch_path(@dispatch), method: :post, class: 'btn btn-primary', remote: true %>
  <% end %>

  <p>
    <strong>ID:</strong>
    <%= dispatch.id %>
  </p>

  <p>
    <strong>Driver name:</strong>
    <% if dispatch.driver_id %>
      <%= User.find_by(id: dispatch.driver_id).full_name %>
    <% else %>
      Unassigned
    <% end %> 
  </p>

  <p>
    <strong>Origin:</strong>
    <% origin_location = @origin_locations.find_by(city: @dispatch.origin) %>
    <% if origin_location %>
      <%= link_to origin_location.company_name, location_path(origin_location) %>
    <% else %>
      No origin location found
    <% end %>
  </p>

  <p>
    <strong>Destination:</strong>
    <% destination_location = @destination_locations.find_by(city: @dispatch.destination) %>
    <% if destination_location %>
      <%= "#{destination_location.company_name}" %>
    <% else %>
      No destination location found
    <% end %>
  </p>

  <p>
    <strong>Dispatch date:</strong>
    <%= dispatch.dispatch_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= dispatch.status %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= dispatch.notes %>
  </p>
<% if dispatch.dispatch_customer_order.any? %>
  <h3>Associated Customer Orders</h3>
  <% dispatch.dispatch_customer_order.each do |dispatch_customer_order| %>
    <%= link_to customer_order_path(dispatch_customer_order.customer_order), class: "card-link" do %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Customer Order ID: <%= dispatch_customer_order.customer_order.id %></h5>
          <p class="card-text">Location: <%= dispatch_customer_order.customer_order.location.company_name %></p>
          Product: <%= dispatch_customer_order.customer_order.product %>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>Unassigned.</p>
<% end %>

</div>
