<%= form_with(model: @dispatch) do |form| %>
  <% if dispatch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dispatch.errors.count, "error") %> prohibited this dispatch from being saved:</h2>

      <ul>
        <% dispatch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :driver_id, style: "display: block" %>
    <%= form.collection_select(:driver_id, User.workers, :id, :first_name, prompt: "Select a Worker") %>
  </div>

  <div class="field">
    <%= form.label :customer_order_id, 'Customer Order:', style: "display: block" %>
    <%= form.select :customer_order_id, options_for_select(@recent_customer_orders.map { |co| ["#{co.id} - #{co.location.name}", co.id] }), {}, id: 'customer_order_id', prompt: 'Select Customer Order' %>
  </div>

  <div class="field">
    <%= form.label :origin, style: "display: block" %>
    <%= form.collection_select(:origin, @origin_locations, :name, :name, prompt: "Select a Location") %>
    <%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %>
  </div>

  <div>
    <%= form.label :info, style: "display: block" %>
    <%= form.text_area :info %>
  </div>

  <div>
    <%= form.label :dispatch_date, style: "display: block" %>
    <%= form.date_field :dispatch_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.collection_select :status, Dispatch.dispatch_statuses.keys, :to_s, :humanize, { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
