<%= form_with model: @dispatch, local: true, html: { multipart: true } do |form| %>
  <% if dispatch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dispatch.errors.count, "error") %> prohibited this dispatch from being saved:</h2>

      <ul>
        <% dispatch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :driver_id, style: "display: block" %>
    <%= form.collection_select(:driver_id, User.workers, :id, :first_name, prompt: "Select a Worker") %>
  </div>

  <div class="mb-3">
    <%= form.label 'Customer Orders:', style: "display: block" %>

    <!-- Search Input -->
    <input type="text" id="orderSearch" class="form-control mb-3" placeholder="Search orders...">

    <!-- Orders Select Box -->
    <%= form.select :customer_order_ids, 
                    options_for_select(@recent_customer_orders.map { |co| ["#{co.id} - #{co.location.company_name} - #{co.required_delivery_date || 'No Delivery Date'}", co.id] }, @selected_customer_order_id), 
                    { include_hidden: false }, 
                    { id: 'customer_order_ids', multiple: true, prompt: 'Select Customer Orders', style: "height: 150px; width: 100%;" } %>

    <small id="selectHelp" class="form-text text-muted">Try ctrl+click to select multiple. (Use cmd+click on OSX.)</small>
  </div>

  <div class="field">
    <%= form.label :origin, style: "display: block" %>
    <%= form.collection_select(:origin, @origin_locations, :full_address_with_company, :full_address_with_company, prompt: "Select a Location") %>
    <%= link_to 'New Location', new_location_path, class: 'btn btn-primary' %>
  </div>

  <div class="field">
    <%= form.label :vendor_id, "Vendor" %>
    <%= form.collection_select :vendor_id, Vendor.all, :id, :name, { include_blank: "Select a Vendor" }, class: "form-control" %>
  </div>

  <div>
    <%= form.label :dispatch_date, style: "display: block" %>
    <%= form.date_field :dispatch_date %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.collection_select :status, Dispatch.dispatch_statuses.keys, :to_s, :humanize, { class: "form-control" } %>
  </div>

  <div>
    <%= form.label :truck_id, "Select Truck", style: "display: block" %>
    <%= form.collection_select :truck_id, Thing.where(category: "truck"), :id, :name, prompt: "Choose a Truck", class: "form-control" %>
  </div>

  <div>
    <%= form.label :trailer_id, "Select Trailer", style: "display: block" %>
    <%= form.collection_select :trailer_id, Thing.where(category: "trailer"), :id, :name, prompt: "Choose a Trailer", class: "form-control" %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block" %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :files, "Upload Files" %>
    <%= form.file_field :files, multiple: true, direct_upload: true, class: "form-control" %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'btn btn-success' %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("orderSearch");
    const selectBox = document.getElementById("customer_order_ids");

    searchInput.addEventListener("keyup", function () {
      const searchValue = searchInput.value.toLowerCase();
      const options = selectBox.options;

      for (let i = 0; i < options.length; i++) {
        const optionText = options[i].text.toLowerCase();
        if (optionText.includes(searchValue)) {
          options[i].style.display = "block";
        } else {
          options[i].style.display = "none";
        }
      }
    });
  });
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const searchInput = document.getElementById("thingSearch");
    const selectBox = document.getElementById("thing_ids");

    searchInput.addEventListener("keyup", function () {
      const searchValue = searchInput.value.toLowerCase();
      const options = selectBox.options;

      for (let i = 0; i < options.length; i++) {
        const optionText = options[i].text.toLowerCase();
        if (optionText.includes(searchValue)) {
          options[i].style.display = "block";
        } else {
          options[i].style.display = "none";
        }
      }
    });
  });
</script>