<p style="color: green"><%= notice %></p>
<div class="button-container">
  <%= link_to "New dispatch", new_dispatch_path, { :class=>"btn btn-primary" } %>
  <button id="updateDriverNotes" class="btn btn-warning">Update Driver Notes</button>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="dispatches">
        <% @new_dispatches.each do |dispatch| %>
        <div class="driver-note <%= dispatch.status.downcase.gsub(/\s+/, "") %>" data-card-id="<%= dispatch.id %>">
                  <div class="note-header">
                    ID: <%= dispatch.id %>
                      <% if dispatch.dispatch_customer_order.any? %>
                        <% if dispatch.dispatch_customer_order.size == 1 %>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.company_name %></p>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.city %></p>
                        <% else %>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.company_name %>...</p>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.city %>...</p>
                        <% end %>
                      <% else %>
                        <p>Unassigned</p>
                      <% end %>
                  </div>
                  <hr class="line">
                  <div class="note-body">
                    <%= link_to '', class: "links" do %>
                      <h5>Dispatch Date: <%= dispatch.dispatch_date %></h5>
                      <h5>From: <%= dispatch.origin %></h5>
                    <% end %>
                  </div>
                </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <!-- Drivers' columns section -->
      <div class="row column-container" id="driver-columns">
        <% @workers.each do |driver| %>
          <div class="col">
            <h3 class="text-center"><%= driver.first_name %></h3>
            <div class="custom-column custom-gutter" data-driver-id="<%= driver.id %>">
              <ul class="dispatch-list">
                <% driver_dispatches = @dispatches.select do |dispatch|
                  user = User.find_by(id: dispatch.driver_id)
                  user.present? && user.full_name == driver.full_name
                end %>
                <% driver_dispatches.each do |dispatch| %>
                <div class="driver-note <%= dispatch.status.downcase.gsub(/\s+/, "") %>" data-card-id="<%= dispatch.id %>">
                  <div class="note-header">
                    ID: <%= dispatch.id %>
                      <% if dispatch.dispatch_customer_order.any? %>
                        <% if dispatch.dispatch_customer_order.size == 1 %>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.company_name %></p>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.city %></p>
                        <% else %>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.company_name %>...</p>
                          <p><%= dispatch.dispatch_customer_order.first.customer_order.location.city %>...</p>
                        <% end %>
                      <% else %>
                        <p>Unassigned</p>
                      <% end %>
                  </div>
                  <hr class="line">
                  <div class="note-body">
                    <%= link_to '', class: "links" do %>
                      <h5>Dispatch Date: <%= dispatch.dispatch_date %></h5>
                      <h5>From: <%= dispatch.origin %></h5>
                    <% end %>
                  </div>
                </div>
              <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
      <div id="sticky-trash-can">
        <span>🗑️</span>
      </div>
    </div>
  </div>
</div>


