<p style="color: green"><%= notice %></p>

<%= render @dispatch %>

<div>
  <%= link_to "Edit this dispatch", edit_dispatch_path(@dispatch) %> |
  <%= link_to "Back to dispatches", dispatches_path, data: { turbo: false } %>

  <%= button_to "Destroy this dispatch", @dispatch, method: :delete, data: { confirm: 'Are you sure you want to delete this dispatch?', turbo: false }, class: "btn btn-danger" %>
</div>
