<h1>Products</h1>

<%= link_to 'New Product', new_product_path, class: 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Unit of Measurement</th>
      <th>Weight Per Unit (lbs)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.unit_of_measurement %></td>
        <td><%= product.weight %></td>
        <td>
          <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-warning btn-sm' %>
          <%= button_to 'Delete', product_path(product), 
               method: :delete, 
               data: { confirm: 'Are you sure?' }, 
               class: 'btn btn-danger btn-sm', 
               form: { style: 'display: inline;' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
