<p style="color: green"><%= notice %></p>
<%= form_for @location do |f| %>
    <div>
        <%= f.label :company_name, style: "display: block" %>
        <%= f.text_field :company_name %>
    </div>
    <div>
        <%= f.label "City", style: "display: block" %>
        <%= f.text_field :city %>
    </div>
    <div>
        <%= f.label :address, style: "display: block" %>
        <%= f.text_field :address %>
    </div>
    <div>
        <%= f.label :state, style: "display: block" %>
        <%= f.text_field :state %>
    </div>
    <div>
        <%= f.label :zip, style: "display: block" %>
        <%= f.text_field :zip %>
    </div>
    <div>
        <%= f.label :phone_number, style: "display: block" %>
        <%= f.text_field :phone_number %>
    </div>
    <div class="field">
        <%= f.label :location_category_id, style: "display: block" %>
        <%= f.collection_select :location_category_id, LocationCategory.all, :id, :name, prompt: "Select Location Category" %>
    </div>
    <div class="field">
        <%= f.label :max_capacity, style: "display: block" %>
        <%= f.number_field :max_capacity %>gal
    </div>
    <div class="field">
        <%= f.label "Upper Cutoff", style: "display: block" %>
        <%= f.number_field :uleage_90 %>%
    </div>
    <div class="field">
        <%= f.label "Lower Cutoff", style: "display: block" %>
        <%= f.number_field :cutoff_percent %>%
    </div>
    <div>
        <%= f.label :notes, style: "display: block" %>
        <%= f.text_area :notes %>
    </div>
<%= f.fields_for :location_products do |lp_form| %>
    <div class="field">
      <%= lp_form.label :product_id %>
      <%= lp_form.collection_select :product_id, @products, :id, :name, include_blank: true %>
    </div>
    <div class="field">
      <%= lp_form.label :max_capacity %>
      <%= lp_form.number_field :max_capacity %>
    </div>
    <div class="field">
      <%= lp_form.label :uleage_90 %>
      <%= lp_form.number_field :uleage_90 %>
    </div>
    <div class="field">
      <%= lp_form.label :cutoff %>
      <%= lp_form.number_field :cutoff %>
    </div>
    <div class="field">
      <%= lp_form.check_box :_destroy %>
      <%= lp_form.label :_destroy, "Remove product" %>
    </div>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>