<p style="color: green"><%= notice %></p>
<%= form_for @location do |f| %>
    <div>
        <%= f.label "Name", style: "display: block" %>
        <%= f.text_field :company_name %>
    </div>
    <div>
        <%= f.label "City", style: "display: block" %>
        <%= f.text_field :city %>
    </div>
    <div>
        <%= f.label :address, style: "display: block" %>
        <%= f.text_field :address %>
    </div>
    <div>
        <%= f.label :state, style: "display: block" %>
        <%= f.text_field :state %>
    </div>
    <div>
        <%= f.label :zip, style: "display: block" %>
        <%= f.text_field :zip %>
    </div>
    <div>
        <%= f.label :phone_number, style: "display: block" %>
        <%= f.text_field :phone_number %>
    </div>
    <div class="field">
        <%= f.label "Category", style: "display: block" %>
        <%= f.collection_select :location_category_id, LocationCategory.all, :id, :name, prompt: "Select Location Category" %>
    </div>
    <div>
        <%= f.label :notes, style: "display: block" %>
        <%= f.text_area :notes %>
    </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>