<div id="<%= dom_id location %>">

  <p>
    <strong>ID:</strong>
    <%= location.id %>
  </p>
  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= location.company_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= location.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= LocationCategory.find(location.location_category_id).name %>
  </p>

  <% if location.max_capacity %>

    <p>
      <strong>Max Capacity:</strong>
      <%= location.max_capacity %> gal
    </p>

    <p>
      <strong>Upper Cutoff (<%= location.uleage_90 %>%):</strong>
      <%= (location.uleage_90.to_f / 100) * location.max_capacity %> gal
    </p>

    <p>
      <strong>Lower Cutoff (<%= location.cutoff_percent %>%):</strong>
      <%= (location.cutoff_percent.to_f / 100) * location.max_capacity %> gal
    </p>

  <% end %>

  <p>
    <strong>Products:</strong>
    <% if @location.products.any? %>
      <ul>
        <% @location.products.each do |product| %>
          <li><%= product.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No products available for this location.</p>
    <% end %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= location.notes %>
  </p>
</div>