<div id="<%= dom_id location %>">
  <h1><%= location.company_name %></h1>

  <p>
    <strong>ID:</strong>
    <%= location.id %>
  </p>
  
  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= location.address %>
  </p>

  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= location.phone_number %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= LocationCategory.find(location.location_category_id).name %>
  </p>

  <% if location.notes? %>
    <p>
      <strong>Notes:</strong>
      <%= location.notes %>
    </p>
  <% end %>

</div>