<div class="content">
  <p style="color: green"><%= notice %></p>
<div class="d-flex align-items-center mb-3">
  <h1 class="mb-0 mr-3">Locations</h1>
  <%= link_to "New location", new_location_path, class: "btn btn-primary", style: "margin-left: 15px;" %>
</div>
  <div class="locations">
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th style="width: 14.28%;">Name</th>
          <th style="width: 14.28%;">Address</th>
          <th style="width: 14.28%;">City</th>
          <th style="width: 14.28%;">State</th>
          <th style="width: 14.28%;">Zip</th>
          <th style="width: 14.28%;">Phone</th>
          <th style="width: 14.28%;">Category</th>
        </tr>
      </thead>
      <tbody>
        <% @locations.each do |location| %>
          <tr onclick="location.href='/locations/<%= location.id %>';">
            <td><%= location.company_name %></td>
            <td><%= location.address %></td>
            <td><%= location.city %></td>
            <td><%= location.state %></td>
            <td><%= location.zip %></td>
            <td><%= location.phone_number %></td>
            <td><%= LocationCategory.find(location.location_category_id).name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>