<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

<div class="content">
  <div class="mb-3" style="padding-top: 25px;">
    <%= form_with(url: locations_path, method: :get, local: true, class: "d-flex") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Search locations...", class: "form-control me-2" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
      <%= link_to "Clear", locations_path, class: "btn btn-secondary ms-2" %>
    <% end %>
  </div>

  <p style="color: green"><%= notice %></p>
  <div class="d-flex align-items-center mb-3">
    <h1 class="mb-0 mr-3">Locations</h1>
    <%= link_to "New Location", new_location_path, class: "btn btn-primary ms-3" %>
  </div>

  <!-- Origin Locations Section -->
  <div class="location-section card mb-4">
    <div class="card-header bg-light" style="font-weight: 600;">
      Origin Locations
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Category</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.where(location_category_id: LocationCategory.find_by(name: 'Origin').id).each do |location| %>
            <tr class="<%= 'table-danger' if location.disabled? %>" style="cursor: pointer;" onclick="location.href='/locations/<%= location.id %>';">
              <td><%= location.company_name %></td>
              <td><%= location.address %></td>
              <td><%= location.city %></td>
              <td><%= location.state %></td>
              <td><%= location.zip %></td>
              <td><%= location.phone_number %></td>
              <td><%= LocationCategory.find(location.location_category_id).name %></td>
              <td><%= location.disabled? ? "Disabled" : "Enabled" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Destination & Prospective Locations Section -->
  <div class="location-section card">
    <div class="card-header bg-light" style="font-weight: 600;">
      Destination & Prospective Locations
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Category</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @locations.where(location_category_id: LocationCategory.where(name: ['Destination', 'Prospective']).pluck(:id)).each do |location| %>
            <tr class="<%= 'table-danger' if location.disabled? %>" style="cursor: pointer;" onclick="location.href='/locations/<%= location.id %>';">
              <td><%= location.company_name %></td>
              <td><%= location.address %></td>
              <td><%= location.city %></td>
              <td><%= location.state %></td>
              <td><%= location.zip %></td>
              <td><%= location.phone_number %></td>
              <td><%= LocationCategory.find(location.location_category_id).name %></td>
              <td><%= location.disabled? ? "Disabled" : "Enabled" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>