<h1 class="mb-4">Add New User</h1>

<%= form_with(model: @user, url: user_registration_path, class: "needs-validation", local: true) do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter email address" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Enter password" %>
  </div>

  <div class="mb-3">
    <%= form.label :password_confirmation, class: "form-label" %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control", placeholder: "Enter first name" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Enter last name" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, class: "form-label" %>
    <%= form.text_field :phone_number, class: "form-control", placeholder: "Enter phone number" %>
  </div>

  <div class="mb-3">
    <%= form.label :role, class: "form-label" %>
    <%= form.text_field :role, class: "form-control", placeholder: "Enter User's Role" %>
  </div>

  <%# recaptcha_tags action: 'register' %>

  <div>
    <%= form.submit 'Create User1111', class: 'btn btn-primary' %>
  </div>
<% end %>